@use 'variables' as *;

:root {
	--background-main: #fff;
	--background-main-reverse: #000;
	--color-text-primary: #444;
	--color-text-primary-reverse: #bbb;
	--color-text-secondary: #808080;
	--color-links: #444;
	--color-links-hover: #bbb;
	--color-buttons-primary: #444;
	--background-buttons-primary: #bbb;
	--color-buttons-primary-hover: #bbb;
	--background-buttons-primary-hover: #444;
	--color-buttons-primary-reverse: #bbb;
	--background-buttons-primary-reverse: #444;
	--color-buttons-primary-hover-reverse: #444;
	--background-buttons-primary-hover-reverse: #bbb;
	--background-selection: #000000cc;
	--color-selection: #fff;
	--background-selection-reverse: #ffffffcc;
	--color-selection-reverse: #000;
	--color-scheme: light;
    --font-family-sans-serif: 'Red Hat Display VF', 'Red Hat Display', sans-serif;
    --font-family-monospace: 'Fira Code VF', 'Fira Code', monospace;
    color-scheme: var(--color-scheme);
    view-transition-name: root;

	@media (prefers-contrast: more) {
		--color-text-primary: #000;
		--color-text-primary-reverse: #fff;
		--color-links: #000;
		--color-links-hover: #808080;
		--color-buttons-primary: #fff;
		--background-buttons-primary: #000;
		--color-buttons-primary-hover: #fff;
		--background-buttons-primary-hover: #808080;
		--color-buttons-primary-reverse: #000;
		--background-buttons-primary-reverse: #fff;
		--color-buttons-primary-hover-reverse: #000;
		--background-buttons-primary-hover-reverse: #808080;
	}

    @media (prefers-reduced-data: reduce) {
        --font-family-sans-serif: system-ui;
        --font-family-monospace: system-ui;
    }
}

html[data-theme="dark"] {
	--background-main: #000;
	--background-main-reverse: #fff;
	--color-text-primary: #bbb;
	--color-text-primary-reverse: #444;
	--color-text-secondary: #808080;
	--color-links: #bbb;
	--color-links-hover: #444;
	--color-buttons-primary: #bbb;
	--background-buttons-primary: #444;
	--color-buttons-primary-hover: #444;
	--background-buttons-primary-hover: #bbb;
	--color-buttons-primary-reverse: #444;
	--background-buttons-primary-reverse: #bbb;
	--color-buttons-primary-hover-reverse: #bbb;
	--background-buttons-primary-hover-reverse: #444;
	--background-selection: #ffffffcc;
	--color-selection: #000;
	--background-selection-reverse: #000000cc;
	--color-selection-reverse: #fff;
	--color-scheme: dark;

	@media (prefers-contrast: more) {
        --color-text-primary: #fff;
        --color-text-primary-reverse: #000;
        --color-links: #fff;
        --color-links-hover: #808080;
        --color-buttons-primary: #000;
        --background-buttons-primary: #fff;
        --color-buttons-primary-hover: #000;
        --background-buttons-primary-hover: #808080;
        --color-buttons-primary-reverse: #fff;
        --background-buttons-primary-reverse: #000;
        --color-buttons-primary-hover-reverse: #fff;
        --background-buttons-primary-hover-reverse: #808080;
	}
}

html {
    font-family: var(--font-family-sans-serif);
    font-size: 20px;
    font-variation-settings: 'wght' 400;
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-text-primary);
    background: var(--background-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    font-variant-ligatures: none;
    overflow-anchor: auto;

    >body {
        min-height: 100vh;
        min-height: 100dvh;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-variation-settings: 'wght' 700;
            font-weight: 700;
        }

        h1 {
            font-size: 2.027rem;
        }

        h2 {
            font-size: 1.802rem;
        }

        h3 {
            font-size: 1.602rem;
        }

        h4 {
            font-size: 1.424rem;
        }

        h5 {
            font-size: 1.266rem;
        }

        h6 {
            font-size: 1.125rem;
        }

        a {
            color: var(--color-links);
            display: inline-block;

            &:hover {
                color: var(--color-links-hover);
            }
        }

        >aside {
            flex: 2;
            position: sticky;
            top: 0;
            height: 100vh;
            height: 100dvh;
            padding: 20px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 25px;
            border-right: 1px solid var(--color-text-primary);
        }

        >section {
            min-height: 100vh;
            min-height: 100dvh;
            flex: 5;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-items: stretch;

            >header {
                padding: 20px 40px 20px 40px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: flex-end;
                align-items: center;

                >nav {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    >button {
                        background: none;
                        border: 0;
                        padding: 0;
                        cursor: pointer;
                    }

                    >a,
                    >button {
                        line-height: 0;

                        >svg {
                            fill: var(--color-links);
                            width: 40px;
                            height: 40px;

                            &:hover {
                                fill: var(--color-links-hover);
                            }
                        }
                    }
                }
            }

            >main {
                padding: 40px 40px 40px 40px;
                margin: auto 0 auto 0;
            }

            >footer {
                padding: 20px 40px 20px 40px;
                font-size: 0.75rem;
                font-family: var(--font-family-monospace);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;

                >p {
                    text-align: center;

                    >svg {
                        width: 0.7rem;
                        height: 0.7rem;
                        position: relative;
                        top: -3px;
                        fill: var(--color-text-primary);
                    }

                    &:nth-child(2) svg {
                        fill: #f00;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-lg) {

        >body {

            >aside {
                border-right: none;
                border-bottom: 1px solid var(--color-text-primary);
            }

            >section {

                >header,
                >main,
                >footer {
                    padding: 10px 10px 10px 10px;
                }

                >footer {
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;
                }
            }
        }
    }

    @media print {
        font-size: 16px;
        color: #444;
        background: #fff;

        >body {

            >aside {
                border-color: #444;
            }

            >section {

                >header,
                >footer {
                    display: none;
                }

                >main {
                    padding: 20px 20px 20px 20px;
                }
            }

            a {
                color: #444;
            }
        }

        @page {
            size: A4;
            margin: 0;
        }
    }
}

::selection {
    background: var(--background-selection);
    color: var(--color-selection);
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0s;
}
