@use 'variables' as *;

header {
	padding: 20px 40px 20px 40px;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		gap: 20px;

		button {
			background: none;
			border: 0;
			padding: 0;
			cursor: pointer;
		}

		a,
		button {
			line-height: 0;

			svg {
				fill: var(--color-links);
				width: 40px;
				height: 40px;

				&:hover {
					fill: var(--color-links-hover);
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-lg) {
		padding: 10px 10px 10px 10px;
	}

	@media print {
		display: none;
	}
}
