{% extends 'base.html.twig' %}
{% block title %}Menu{% endblock %}
{% block page_url %}/menu{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}
{% block body_id %}menu{% endblock %}
{% block content %}
<main>
    <a href="/curriculum#info">Informazioni su di me</a>
    <a href="/curriculum#esperienza">Esperienza</a>
    <a href="/curriculum#formazione">Formazione</a>
    <a href="/curriculum#skills">Skills</a>
    <a href="/curriculum#corsi-certificazioni">Corsi & Certificazioni</a>
</main>
{% endblock %}