@use '../../variables' as *;

#homepage {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: stretch;

	aside {
		flex: 1;
		position: sticky;
		top: 0;
		height: 100vh;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		background-image: url("/assets/images/home-background/home-background.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	section {
		flex: 2;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: stretch;

		main {

			h2 {
				font-variation-settings: 'wght' 400;
				font-weight: 400;
				margin: 0 0 5px 0;
			}

			a {

				svg {
					fill: var(--color-buttons-primary);
					background-color: var(--background-buttons-primary);
					width: 45px;
					height: 45px;

					&:hover {
						fill: var(--color-buttons-primary-hover);
						background-color: var(--background-buttons-primary-hover);
					}
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-lg) {
		flex-direction: column;

		aside {
			flex: none;
			position: relative;
			height: auto;
			aspect-ratio: 2/1;
			background-image: url("/assets/images/home-background/home-background-mobile.jpg");
		}

		section {
			flex: none;
			min-height: calc(100vh - (100vw / 2));
			min-height: calc(100dvh - (100vw / 2));
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			main {
				margin: auto auto auto auto;
			}
		}
	}
}
