#menu {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;

	main {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;

		a {
			display: block;
			width: 576px;
			max-width: -webkit-fill-available;
			max-width: -moz-available;
			max-width: stretch;
			border-top: 1px solid #bbb;
			font-size: 1.2rem;
			padding: 10px 35px 10px 35px;

			&:last-child {
				border-bottom: 1px solid #bbb;
			}
		}
	}
}